[submodule "translations"]
	path = translations
	url = https://github.com/FoldingCommunity/Translate

[submodule "templates"]
    path = templates
    url = https://github.com/FoldingCommunity/WebsiteTemplates.git